<div class="card text-white border-primary">
  <div class="card-header">
    <span class="badge badge-primary text-uppercase">{{ topic.topic_text }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ object.question_text }}</h5>
    <div class="list-group">
      {% for c in object.choice_set.all %}
        <a href="#" class="list-group-item list-group-item-action">{{ c.choice_text }}</a>
        {% empty %}
        <li class="text-warning">No choices found.</li>
      {% endfor %}
    </div>
  </div>
</div>
