<div class="card text-white border-primary">
  <div class="card-header">
    <span class="badge badge-primary text-uppercase">{{ object.topic_text }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ q.question_text }}</h5>
    <form method="post" target="/api/ans">
      <div class="btn-group btn-group-toggle btn-group-lg btn-group-vertical w-100" data-toggle="buttons">
        {% for c in q.get_randomized_choices %}
          <label class="btn btn-outline-light"><input type="checkbox" value="{{ c.id }}" autocomplete="off" checked="" />{{ c }}</label>
        {% endfor %}
      </div>
    </form>
  </div>
</div>
