{% extends 'base.html' %}

{% block extracss %}
  <style>
    @media (min-width: 576px) {
      .pop {
        z-index: 100;
        visibility: hidden;
        height: 0;
        animation: springOut 2s linear forwards;
      }
    
      .card {
        transition: visibility height 0s linear 2s;
      }
    
      @keyframes springOut {
        0% {
          transform: scale(1);
          animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
        }
        69.0983% {
          transform: scale(1.1);
          animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
        }
        100% {
          transform: scale(0);
        }
      }
    }
  </style>
{% endblock %}

{% block content %}
  {% if objects %}
    <div class="card-columns">
      {% for qb in objects %}
        {% if not qb.question.is_suppressed %}
          {# prettier-ignore #}
          {% with object=qb.question.topic q=qb.question %}
            {% include 'quizdata/includes/question_detail.html' %}
          {% endwith %}
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <h2 class="text-warning">No questions to review</h2>
    <p class="text-warning">You haven't answered any questions yet, so there's nothing to review.</p>

    <a href="{% url 'quizdata:topic_list' %}" class="btn btn-primary">Find some topics.</a>
  {% endif %}
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(() => {
      $('form').on(
        'change',
        'input',
        /** @this HTMLInputElement */
        async function (e) {
          console.log('change', e)
          // Not a regular form submission, so prevent default doesn't work.
          const $input = $(e.currentTarget)
          const $form = $(e.delegateTarget)
    
          // Instead, I just disable the form and inputs.
          $form.prop('disabled', true)
          $form.find('input').prop('disabled', true)
    
          // I also do not use the regular "action" attribute.
          const url = $form.data('action')
          const response = await fetch(url, {
            method: 'POST',
            cache: 'no-cache',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            mode: 'same-origin',
            body: JSON.stringify({ cid: $input.val() })
          })
    
          // Check the response status.
          if (response.status === 200) {
            const body = await response.json()
            console.log('body', body)
            if (body.correct) {
              $input.parent().addClass('bg-success')
            } else {
              $input.parent().addClass('bg-warning')
            }
            $input.closest('.card').addClass('pop')
          }
        }
      )
    })
  </script>
{% endblock %}
