{% extends 'base.html' %}

{% block extracss %}
  <style>
    @media (min-width: 576px) {
      .pop {
        width: 0;
        height: 0;
        animation: springOut 2s linear forwards;
      }
    
      .card {
        transition: all 1s;
        transition-timing-function: ease-in-out;
        transition-delay: 2s;
      }
    
      @keyframes springOut {
        0% {
          transform: scale(1);
          animation-timing-function: cubic-bezier(0.33333, 0.66667, 0.66667, 1);
        }
        69.0983% {
          transform: scale(1.1);
          animation-timing-function: cubic-bezier(0.33333, 0, 0.66667, 0.33333);
        }
        100% {
          transform: scale(0);
        }
      }
    }
  </style>
{% endblock %}

{% block content %}
  <div class="card-columns">
    {% for t in object.topic_set.all %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ t.topic_text }}</h5>
          <p class="card-text">
            <a href="{{ t.get_absolute_url }}">{{ t.topic_text }}</a>
          </p>
        </div>
      </div>
      {% empty %}
      <p class="text-warning">No subtopics found.</p>
    {% endfor %}
  </div>

  <div class="card-columns">
    {% for q in object.question_set.all %}
      {% if not q.is_suppressed %}
        {% include 'quizdata/includes/question_detail.html' %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function () {
      $('form').on(
        'change',
        'input',
        /** @this HTMLInputElement */
        async function (e) {
          console.log(e)
          const $input = $(e.currentTarget)
          const $form = $(e.delegateTarget)
          $form.prop('disabled', true)
          $form.closest('input').prop('disabled', true)
          const url = $form.data('action')
          const response = await fetch(url, {
            method: 'POST',
            cache: 'no-cache',
            headers: { 'X-CSRFToken': '{{ csrf_token }}' },
            mode: 'same-origin',
            body: JSON.stringify({ cid: $input.val() })
          })
          if (response.status === 200) {
            const body = await response.json()
            console.log(body)
            if (body.correct) {
              $input.parent().addClass('bg-success')
            } else {
              $input.parent().addClass('bg-warning')
            }
            $input.closest('.card').addClass('pop')
          }
        }
      )
    })
  </script>
{% endblock %}
