{% extends 'base.html' %}

{% block content %}
  <div class="card-deck">
    {% for t in object.topic_set.all %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ t.topic_text }}</h5>
          <p class="card-text">
            <a href="{{ t.get_absolute_url }}">{{ t.topic_text }}</a>
          </p>
        </div>
      </div>
      {% empty %}
      <p class="text-warning">No subtopics found.</p>
    {% endfor %}
  </div>

  <div class="card-deck">
    {% for q in object.question_set.all %}
      {% if not q.is_suppressed %}
        {% include 'quizdata/question_detail.html' %}
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}

{% block extrajs %}
  <script>
    $('form').on(
      'change',
      'input',
      /** @this HTMLInputElement */
      async function (e) {
        e.preventDefault()
        $input = $(e.currentTarget)
        $form = $(e.delegateTarget)
        await fetch($form.attr('target'), {
          method: 'POST',
          cache: 'no-cache',
          headers: { 'X-CSRFToken': '{{ csrf_token }}' },
          mode: 'same-origin',
          body: JSON.stringify({ cid: $input.val() })
        })
      }
    )
  </script>
{% endblock %}
