{% extends 'base.html' %}

{% block content %}
  <h1>What do you want to learn today?</h1>

  {% if object_list %}
    <ul class="list-group">
      {% for object in object_list %}
        <li class="list-group-item">
          <a href="{{ object.get_absolute_url }}">{{ object }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="alert alert-light text-center col-lg-8 mx-auto mt-5 rounded-lg">
    <form method="get" action="{% url 'api:subtopic' %}">
      {% csrf_token %}
      <div class="form-group">
        <input class="w-100 bg-transparent border-top-0 border-right-0 border-left-0 border-primary display-3 text-white" type="text" placeholder="Vue.js" id="inputLarge" name="topic" />
      </div>
      <div class="btn-group btn-group-toggle my-auto" data-toggle="buttons">
        <label class="btn btn-primary active"><input type="radio" name="level" id="option1" autocomplete="off" value="1" checked="" />Basic</label>
        <label class="btn btn-primary"><input type="radio" name="level" id="option2" autocomplete="off" value="2" />Intermediate</label>
        <label class="btn btn-primary"><input type="radio" name="level" id="option3" autocomplete="off" value="3" />Advanced</label>
      </div>
    </form>
  </div>
{% endblock %}
